<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>

        <div class="movies">
            <h1>Reviews</h1>
            <p>The place for all movie comments and critiques</p>
        </div>
        <div class="movie">
            <% if (theReview && theReview.length> 0) { %>
                <% theReview.forEach(review=> { %>
                    <b>
                        <p>

                            Rating: <%= review.rating %> <br>
                                <%= review.review_text %> <br>
                        </p>
                    </b>
                    <% }) %>
                        <% } else { %>
                            <p>No reviews found.</p>
                            <% } %>
                                <a href="/movies" class="button">Back</a>
        </div>

    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>