<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Movies</h1>
                    <p>Check out all the movies</p>
                </div>
            </div>

            <b>
                <form action="/movies/<%= locals.anId %>?_method=DELETE" method="POST">
                    <h3>WARNING: Are you sure you want to delete this movie? </h3> <br>
                    <label>Title:</label>
                    <input type="text" name="title" value="<%= title %>" readonly>
                    <label>Directed By:</label>
                    <input type="text" name="director" value="<%= director%>" readonly>
                    <label>Description:</label>
                    <input type="text" name="description" value="<%= description%>" readonly>
                    <p>Once completed this action cannot be undone.</p>
                    <button>Delete</button>
                </form>
                <a href="/movies"><button>Cancel</button></a>
            </b>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>