<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Movies</h1>
                    <p>Check out all the movies</p>
                </div>
            </div>

            <% if (theMovie.length> 0) var movie=theMovie[0]; { %>
                <b>
                    <h3>Movie Title: <%= movie.title %>
                    </h3>

                    <h3>Movie Director: <%= movie.director%>
                    </h3>
                    <% } %>
                </b><br>


        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>