<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body class="container">
    <main>
        <div>
            <div>
                <div class="movies">
                    <h1>Movies</h1>
                    <p>Check out all the movies</p>
                </div>
            </div>
            <div>
                <h3>Add Movie:</h3>
                <form action="/movies" method="POST">
                    <label>Title</label>
                    <input type="text" id="title" name="title" required>
                    <label>Release Date</label>
                    <input type="date" id="release_date" name="release_date" required>
                    <label>Director</label>
                    <input type="text" id="director" name="director" required>
                    <label>Description</label>
                    <input type="text" id="description" name="description" required>

                    <button>Add</button>
                </form>
            </div>

            <!-- displayedMovieIds is for only one copy of each movie showing up, regardless of how many reviews are posted for it. -->
            <!-- first creating an empty object. This will store the movie_id(s) that have been displayed -->
            <% let displayedMovieIds={} %>
                <% theMovies.forEach(movie=> { %>
                    <!-- if the movie doesn't exist yet (hasn't been displayed) the code for displaying the movie will execute. -->
                    <% if (!displayedMovieIds[movie.movie_id]) { %>
                        <b>
                            <p>

                            <h3>Movie Title: <%= movie.title %>
                            </h3>

                            <h4>Movie Director: <%= movie.director%>
                            </h4>

                            Release date: <%= movie.release_date.toLocaleDateString('en-US', {year: 'numeric' ,
                                month: 'long' , day: 'numeric' }) %> <br>
                                Description: <%= movie.description %> <br>
                                    Genre: <%= movie.genre_name %>

                                        </p>
                                        <!-- Chose to do the if statement based on the rating because the rating has the NOT NULL property.
                    Therefore, if there's no rating, there is no review at all. -->

                                        <% if (movie.rating && movie.rating.length> 0) { %>
                                            <h6>Most Recent Review:</h6>
                                            Rating: <%= movie.rating %> <br>
                                                <i>
                                                    <%= movie.review_text %>
                                                </i>
                                                <a href="/reviews/<%= movie.movie_id %>/allreviews">See All Reviews</a>
                                                <% } else { %>
                                                    <i>No reviews yet.</i>
                                                    <% } %>

                                                        <a href="/reviews/<%= movie.movie_id %>/postreview">Add
                                                            Review</a>
                                                        </p>
                                                        <p>
                                                            <a href="/movies/<%=movie.movie_id%>/edit">Edit</a>
                                                            <a href="/movies/<%=movie.movie_id%>/replace">Replace</a>
                                                            <a href="/movies/<%=movie.movie_id%>/delete">Delete</a>
                                                        </p>


                        </b><br>
                        <!-- the movie_id is then added to displayedMovieIds which is then set to true (means it has been displayed). -->
                        <% displayedMovieIds[movie.movie_id]=true; %>
                            <% } %>
                                <% }) %>

        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>