<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
                    <h1>Movies</h1>
                    <p>Check out all the movies</p>
                </div>
            </div>

            <% theMovies.forEach(movie=> { %>
                <b>
                    <p>

                    <h3>Movie Title: <%= movie.title %>
                    </h3>

                    <h4>Movie Director: <%= movie.director%>
                    </h4>

                    Release date: <%= movie.release_date.toLocaleDateString('en-US', {year: 'numeric' , month: 'long' ,
                        day: 'numeric' }) %> <br>
                        Description: <%= movie.description %> <br>
                            Genre: <%= movie.genre_name %>

                                </p>
                                <!-- Chose to do the if statement based on the rating because the rating has the NOT NULL property.
                    Therefore, if there's no rating, there is no review at all. -->
                                <p>
                                    <% if (movie.rating && movie.rating.length> 0) { %>
                                        Reviews: <%= movie.rating %> <br>
                                            <i>
                                                <%= movie.review_text %>
                                            </i>
                                            <% } else { %>
                                                <i>No reviews yet.</i>
                                                <% } %>
                                </p>
                                <p>
                                    <a href="/movies/<%=movie.movie_id%>/edit">Edit</a>
                                    <a href="/movies/<%=movie.movie_id%>/replace">Replace</a>
                                    <a href="/movies/<%=movie.movie_id%>/delete">Delete</a>
                                </p>


                </b><br>
                <% }) %>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>